<html ng-app>
  <head>
  </head>
  <body>
    <h1>Welcome to another SurveyMonkey knock off!</h1>
    <h3>We'll call it QuizBonobo or something...</h3>

    <img src="http://1.bp.blogspot.com/-wnzjDNpp13U/UDTUfsdGZVI/AAAAAAAAFws/x5AgPLmsyl0/s1600/Kanzi_the_Bonobo.png"></img>
  </body>
</html>